body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#sidebar a:link {
  color: #434343;
}
#sidebar a:visited {
  color: #434343;
}

#sidebar a:hover {
  color: #25c5f5;
}

#sidebar a:active {
  color: #25c5f5;
}
